<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="loginSQL">
	<select id="getUserBy" parameterType="java.util.Map" resultType="member">
		select * from member where id = #{id}
	</select>
	
	<insert id="writeMember" parameterType="member">
		insert into member (id, nickName, email, logtime) values (#{id}, #{nickName}, #{email}, sysdate)
	</insert>
	
	<insert id="signWrite" parameterType="String">
		insert into signature (name, area1, area2) values (#{agree_name}, #{area1}, #{area2})
	</insert>
</mapper>